.logoResize{
    height: 25px;
    width: 125px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.headerContainer{
    border-bottom: 1px solid #aca0a0;
}

.AddButton{
    height: 50px;
    width: 90px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.createToDo{
    height: 45px;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputButtonContainer{
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(101, 131, 121);
}

.todoItems{
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(101, 131, 121);
    height: 50px;
    width: 90px;
    font-size: 15px;
}
.todoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.todoContainerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}
.para{
    background-color: rgb(101, 131, 121);;
    color: black;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
}
.deleteButton{
    background-color: rgb(188, 214, 203);
    color: black;
    border-color: black;
    height: 27px;
    width: auto;
    border: none;
    border-radius: 3px;
}
